.header {
    display: flex;
    width: 100vw;
    height: 30vh;
    justify-content: center;
}

.header img {
    max-height: 100%;
}

.header .links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.header .links button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: #fff;
}